# Amazon Prime Video EDA (Exploratory Data Analysis)

### Importing libraries

In [2]:
import pandas as pd
import numpy as np

### Data Exploration

In [3]:
prime_data = pd.read_csv('amazon_prime_titles.csv')
prime_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
prime_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [7]:
data_size = prime_data.shape
print(f"This data has {data_size[0]} entries and {data_size[1]} columns")

This data has 9668 entries and 12 columns

In [21]:
prime_data['rating'].unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [25]:
prime_data.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [22]:
prime_data[(prime_data['rating'] == 'NOT_RATE')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6012,s6013,Movie,Ek Tha Tiger (English Subtitled),Kabir Khan,"Salman Khan, Katrina Kaif, Girish Karnad, Ranv...",India,NaN,2012,NOT_RATE,133 min,"Action, International, Romance",RAW agent Tiger is on a mission to retrieve in...
6408,s6409,Movie,Retaliation,"Ludwig Shammasian, Paul Shammasian","Orlando Bloom, Janet Montgomery, Charlie Creed...",NaN,NaN,2020,NOT_RATE,96 min,Suspense,Orlando Bloom stars in this taut thriller abou...
8590,s8591,Movie,Tumbleweeds,King Baggot,"William S. Hart, Barbara Bedford, Lucien Littl...",NaN,NaN,1925,NOT_RATE,88 min,Western,The government will grant a fringe of terrain ...